@media(max-width:1440px){
    main #banner .banner-title{
        font-size: 20px;
    }
   main #banner-typewriter{
        font-size: 40px;
    }

    main #home-services .home-services-title{
        font-size: 48px;
    }

    main #home-services .home-services-desc{
        font-size: 18px;
    }

    main #home-services .services-desc {
        font-size: 20px;
        max-height: 100%;
        opacity: 1;
    }
    
    main .properties-one-title{
        font-size: 40px;
    }

    main .properties-one-desc{
        font-size: 16px;
    }

    main .properties-one-desc2{
        font-size: 18px;
    }
    main .properties-human-pattern {
        transform: translate(40px, -22px);
        width: 260px;
    }

    main .references-title {
        font-size: 30px;
    }

    main .projects-title{
        font-size: 45px;
    }

    main .projects-one-desc{
        font-size: 25px;
    }

    main .world-section-title{
        font-size: 48px;
    }

    main .world-section-desc{
        font-size: 20px;
    }

    main .world-count{
        font-size: 70px;
    }

    main .develcodex-bottom-section-title{
        font-size: 45px;
    }

    main .develcodex-bottom-section-one-desc{
        font-size: 25px;
    }

    main .develcodex-bottom-section-desc{
        font-size: 20px;
    }
    footer .footer-menu .footer-menu-item{
        font-size: 45px;
    }
}
@media(max-width:1200px){}
@media(max-width:991px){
    #sticky-wrapper{
        display: none;
    }
    /* Fonts */
    main #banner .banner-title{
        font-size: 20px;
    }
   main #banner-typewriter{
        font-size: 40px;
    }

    main #home-services .home-services-title{
        font-size: 48px;
    }

    main #home-services .home-services-desc{
        font-size: 18px;
    }

    main #home-services .services-desc {
        font-size: 20px;
        max-height: 100%;
        opacity: 1;
    }
    
    main .properties-one-title{
        font-size: 40px;
    }

    main .properties-one-desc {
        font-size: 24px;
    }

    main .properties-one-desc2{
        font-size: 18px;
    }
    main .properties-human-pattern {
        transform: translate(45px, -80px);
        width: 289px;
    }

    main .references-title {
        font-size: 30px;
    }

    main .projects-title{
        font-size: 45px;
    }

    main .projects-one-desc{
        font-size: 25px;
    }

    main .world-section-title{
        font-size: 48px;
    }

    main .world-section-desc{
        font-size: 20px;
    }

    main .world-count{
        font-size: 70px;
    }

    main .develcodex-bottom-section-title{
        font-size: 45px;
    }

    main .develcodex-bottom-section-one-desc{
        font-size: 25px;
    }

    main .develcodex-bottom-section-desc{
        font-size: 20px;
    }
    footer .footer-menu .footer-menu-item{
        font-size: 45px;
    }

    /* Layout */
    .develcodex-bottom-right-pattern,  .develcodex-bottom-left-pattern{
        display: none;
    }

    main .references-images{
        width: 100%;
    }
    main .reference-logo-pattern{
        right: 25%;
    }

    main .properties-section-col{
        position: relative;
        opacity: 1;
        margin-top: 60px;
        height: auto!important;
    }
    main .properties-section-col:nth-child(1){
        z-index: 1;
    }
    main .properties-section-col:nth-child(2){
        z-index: 1;
    }
    main .properties-section-col:nth-child(3){
        z-index: 1;
    }

    main .properties-one-pc-pattern {
        bottom: -13px;
    }
}

@media(max-width:768px){
    header .header-right .header-contact-offer {
        padding: 15px 25px;
    }

    main .world-section-title {
        font-size: 32px;
    }

    main .world-section-desc {
        font-size: 18px;
    }

    main .world-count {
        font-size: 52px;
    }

    main .world-text{
        font-size: 20px;
    }

    main .accordion-title{
        font-size: 24px;
    }

    main .accordion-header{
        padding: 10px;
    }

    main .accordion-content{
        padding: 0 0.875rem;
    }

    main .develcodex-bottom-section-title {
        font-size: 32px;
    }

    main .develcodex-bottom-section-one-desc {
        font-size: 19px;
    }

    main .develcodex-bottom-section-desc {
        font-size: 18px;
    }

    main .blog-area-title {
        font-size: 32px;
        text-align: center;
    }

    body footer {
        padding: 60px 15px;
    }

    body footer .footer-menu .footer-menu-item {
        font-size: 30px;
    }

    body footer .contact-footer-item .item-top .item-title {
        color: #fff;
        font-size: 20px;
    }
    
    body footer .contact-footer-item.opened .item-bottom{
        padding: 15px;
    }

    body footer .contact-footer-item .footer-contact-item{
        font-size: 18px;
    }

    /* layouts */
    main #home-blog-area {
        padding: 60px 20px;
    }
    main #home-projects-section {
        padding: 80px 20px;
        position: relative;
    }

    main #home-develcodex-bottom-section{
        padding: 60px 0px;
    }

    main .develcodex-bottom-section-row {
        padding: 0 15px;
    }

    main .projects-title {
        font-size: 32px;
    }

    main .projects-one-desc {
        font-size: 22px;
        margin-top: 10px;
    }

    main .projects-desc{
        font-size: 18px;
    }
}

@media(max-width:571px){
    main .properties-one-desc {
        font-size: 18px;
    }


    /* layouts */
    main #home-references {
        padding: 45px 25px;
        position: relative;
    }

    main .reference-logo-pattern{
        right: 25%;
        width: 200px;
    }
}